<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zenglb.framework">


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> //有时间需要弄一下这个！

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- sd卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 在SD卡中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 申请应用不要进行电池优化，以保证手机在锁屏状态下能够有网络活动，推送啊，推送 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="APP_DEBUG"
            android:value="${APP_DEBUG}" />
        <meta-data
            android:name="API_VERSION"
            android:value="${API_VERSION}" />

        <activity
            android:name=".activity.launch.LaunchActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.demo.DemoActivity"></activity>

        <activity
            android:name=".activity.access.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="app.intent.action.LOGIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.access.RegisterActivity"
            android:theme="@style/Translucent" />

        <activity
            android:name=".activity.main.AreUSleepListActivity"
            android:launchMode="singleTask" />

        // 配置在新的进程中进行，
        <activity
            android:name=".activity.web.WebActivity"
            android:process=":webprocess"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="my.intent.action.GOTOWEB" />
                <category android:name="my.intent.category.WEB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.setHeadImg.SetHeadImgActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.zxing.ZxingActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="my.intent.action.GOSCANQR" />

                <category android:name="my.intent.category.SCANQR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".navigation.MainActivityBottomNavi"
            android:label="@string/title_activity_main_bottom_navi"
            android:launchMode="singleTop"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zenglb.framework.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".service.ForegroundService" />

    </application>

</manifest>